version: 2
updates:
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    labels:
      - dependencies
      - go

  - package-ecosystem: npm
    directory: /web/admin-console
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    labels:
      - dependencies
      - frontend

  - package-ecosystem: docker
    directory: /deployments/docker
    schedule:
      interval: monthly
    labels:
      - dependencies
      - docker

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    labels:
      - dependencies
      - ci
