routes:
  - uri: /api/v1/identity/*
    name: identity-service
    upstream:
      type: roundrobin
      nodes:
        "identity-service:8001": 1

  - uri: /api/v1/governance/*
    name: governance-service
    upstream:
      type: roundrobin
      nodes:
        "governance-service:8002": 1

  - uri: /api/v1/provisioning/*
    name: provisioning-service
    upstream:
      type: roundrobin
      nodes:
        "provisioning-service:8003": 1

  - uri: /scim/v2/*
    name: scim-api
    upstream:
      type: roundrobin
      nodes:
        "provisioning-service:8003": 1

  - uri: /api/v1/audit/*
    name: audit-service
    upstream:
      type: roundrobin
      nodes:
        "audit-service:8004": 1

  - uri: /api/v1/*
    name: admin-api
    upstream:
      type: roundrobin
      nodes:
        "admin-api:8005": 1

global_rules:
  - id: 1
    plugins:
      cors:
        allow_origins: "**"
        allow_methods: "GET,POST,PUT,DELETE,PATCH,OPTIONS"
        allow_headers: "Content-Type,Authorization,X-Requested-With"
        expose_headers: "*"
        max_age: 3600
        allow_credential: true
      request-id: {}
#END
