apisix:
  node_listen: 9080
  enable_ipv6: false
  enable_admin: false

deployment:
  role: data_plane
  role_data_plane:
    config_provider: yaml

plugin_attr:
  prometheus:
    export_addr:
      ip: 0.0.0.0
      port: 9091
